.App {
  text-align: center;
  padding: 25px;
}

.login-container {
  border: 1px solid #999;
  height: 40em;
  margin-top: 50px;
  padding: 50px;
}

button {
  margin: 7.5px;
}

li {
  margin: 0 5px;
}

.login-btn {
  margin-top: 10px;
  margin-right: 5px;
}

span {
  font-size: 2rem;
  padding-left: 7.5px;
}

.hero {
  padding: 0 10px;
  width: 100%;
}